{% if user_tasks %}

{% for task in user_tasks %}
<div style="width: 260px;" class="ui message">
    <p class="ui big header">{{ task.title }} | {{ task.priority }}</p>

    {% if task.isCompleted %}
    <span style="margin: 5px 0px 15px 0px;" class="ui green label">Completed!</span>
    {% else %}
    <span style="margin: 5px 0px 15px 0px;" class="ui gray label">Not Completed</span>
    {% endif %}

    <p class="ui tiny header">{{ task.description }}</p>

    <p class="ui small header">Duration: {{ task.duration }} minutes</p>
    <p class="ui small header">Deadline: {{ task.deadline.strftime("%Y-%m-%d, %H:%M") }}</p>
    
    <div style="margin-top: 20px;">
        {% if task.completed %}
        <a class="ui gray button" href="/incomplete_task/{{ task.taskID }}">Mark incomplete</a>   
        {% else %}
        <a class="ui small blue button" href="/complete_task/{{ task.taskID }}">Mark complete</a>
        {% endif %}
        
        <a class="ui small centre red button" href="/delete_task/{{ task.taskID }}">🗑️</a>
    </div>
</div>
{% endfor %}

{% else %}
<div style="margin-top: -50px;" id="canvas-container"></div>
<script src="{{ url_for('static', path='js/sketch.js') }}"></script>

{% endif %}
